main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height:100vh;
}    

header {
    align-self: center;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    margin: 0;
}

.container-linguagem {
    align-content: center;
    display: flex;
    width: 100vw;
    align-items: stretch;
    flex-direction: row;
}

.container-project {
    margin-left: 1rem;
    border-radius: 4px;
    max-width: 10rem;
    max-height: 11rem;
    margin-top: 1rem;
    padding:1rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color: rgb(71, 71, 71);
}

.container-icones {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.texto-linguagem {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 2rem;
}

.icone-projeto {
    min-width: 2rem;
    min-height:2rem;
    max-width: 2rem;
    max-height: 2rem;
}

.titulo-projeto {
    text-align: center;
    font-size: 1.2em;
}


.descrição-projeto {
    display: inline-block;
    font-size: 0.9em;
}

.texto-footer {
    margin-top: 1rem;
}