@font-face {
    font-family: "VCR OSD MONO";
    src: url(./assets/fonts/VCR_OSD_MONO.ttf);
}

@font-face {
    font-family: "Rainy Hearts";
    src: url(./assets/fonts/rainyhearts.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Pixel Operator";
    src: url(./assets/fonts/PixelOperatorMonoHB.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

form {
    margin-top:1rem;
    flex-direction: column;
    display: flex;
}

#animatedBackground {
    /* --- Your background styles --- */
    background-image: url("./assets/images/depths.png");
    background-repeat: round;

    /* --- Positioning styles --- */
    /* Puts it behind all other content */
    z-index: -1; 
    /* Fixes it to the viewport */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    /* --- Animation styles --- */
    /* Ensures scaling happens from the center */
    transform-origin: center center; 
    /* Initial state (JS will control this) */
    transform: scale(1, 1);
    opacity: 1;
}

label {
    font-family: "Pixel OPERATOR", monospace;
    color:white;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: 0;
}


header {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    width:100%;
    background-color: rgb(0, 0, 0);
    padding: 1rem 2rem;
    z-index: 1;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    height:100vh;
    align-items: center;
    justify-content: center;
}

p {
    font-family: "Pixel OPERATOR", monospace;
    color: white;
}

a {
    color:gray;
    font-family: "Pixel OPERATOR", monospace;
    text-decoration: none;
}

#container-descrições {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

#texto-contato {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#button-submit {
    margin-top:1rem;
    border-radius:2px;
    background-color: black;
    color:white;
    font-family: "Pixel OPERATOR", monospace;
    font-size:1rem;
    margin-bottom: 1rem;
}

#container-titulo {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

#texto-nome{
    margin:0;
    font-size: 2.5rem;
}

#texto-cargo {
    margin:0;
    font-size:1.2rem
}

.container-email {
    display: flex;
    flex-direction: column;
}

.texto-descrição {
    margin-left: 1rem;
    font-size: 1.5rem;
}

.skill {
    padding:0.5rem;
    border-radius: 30px;
    gap:0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-skill {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-skill {
    height:32px;
    width: 32px;
}

.texto-footer {
    color:gray;
    margin-left:1rem;
}

#images-div{
    display: flex;
    gap: 1rem;
}

#main-separador{
    display: flex;
    flex-direction: column;
    width: 90rem;
    margin: 1rem;
    border: 2px solid grey;
    border-radius: 10px;
    gap:10px;
    background-color: black;
    height:50vh
}

#container-todas-skills {
    display: flex;
    flex-direction: column;
}

.link-header{
    color:white;
}

#links-div{
    display: flex;
    gap: 1rem;
}